.map {
  flex-grow: 1;
  padding: 10px;
  padding-top: 20px;
  text-align: start;
  overflow: hidden;
}

.map > div > span {
  font-size: 1em;
  margin: 0 2.1px;
}

@media screen and (min-width: 768px) {
  .map > div > span {
    font-size: 1.25em;
    margin: 0 3.5px;
  }
}
