.button {
  background-color: #61dafb;
  color: black;
  font-size: 1em;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

.selected {
  background-color: #61dafb;
  color: white;
}
